body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
} 

/*menybaren*/ 
.menybar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 999;                               /*bestemmer hvilke element som kommer over et annet. I dette tilfelle skal menybaren være over de andre elementene under. Det elementet med høyest z-index blir plassert øverst.*/
  top: 0;
  width: 100%;
  height: 50px; 
  border-bottom: 1px solid #d3d3d3;
  padding: 20px;
  justify-content: space-between;
} 

.menybar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding-top: 50%; 
  padding-bottom: 50%;
  padding: 20px 16px; 
  font-size: 17px;
  text-decoration: none;
  margin-right: 50px; 
}

  /* når musepekeren er over så skifter skriften farge*/
  .menybar a:hover{
    color: #CD2E3A; 
    transition: 0.8s;             /*hvor lang tid fargeskiftingen tar, her er den 0.8 sekunder som er realtivt fort*/
  }

.logo{ 
    width: 80px;
    margin-left: 50px;
    align-items: left;
    margin-top: -18px;  
}

#bakgrunn{
    height: 80vh; 
    width: 90%; 
    background-size: cover;
}

/*videoen som vises på første side*/
.video{
  position: absolute;
  right: 0; 
  bottom: 0; 
  z-index: -1; 
  height: 100%;
  top: 45px; 
}

.overskriftOgTekst{
    height: 200px;
    text-align: center; 
    margin-right: 20%; 
    margin-left: 20%;
    margin-top: 250px;
}

.overskriftOgTekst h2{
    font-size: 31px;
    line-height: 1.5;
    margin-top: 50px;
}

.overskriftOgTekst p{
  line-height: 1.5;
  margin-top: -20px; 
  font-size: 17px;
}

.innhold h2{
  text-align: center;
  margin-top: 20px; 
}

.innhold{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  margin-left: 13%; 
  margin-right: 12%; 
  display: grid;
  gap: 15px; 
  width: 80%; 
  height: 100%; 
  margin-bottom: 50px; 
  overflow: hidden;
  margin-top: 30px; 
}

.innhold img{
  padding: 5px; 
  transform: 0.7s;
  cursor: pointer; 
  width: 451px;
  height: 564px; 
  background-size: cover;
  transform: scale (1);                                    /*her er bildet i normal størrelse, altså ved scale(1) */
}

/*får bilde til å zoome inn når musen er over bildet, altså hover*/
.innhold img:hover{
  transform: scale(1.05)
}

.bilde h2{
  margin-left: -110px; 
  margin-top: 10px;
}

/* avsnittet under bildene i div-boksene bilde under hoved divboksen innhold*/
.bilde p{
  font-size: 15px;
  line-height: 1.5; 
  margin-top: -10px; 
  width:  81%;
  text-align: center; 
}

/*Share Your Wonders boksen helt nederst*/
.shareYourWonders {
  width: 100%; 
  border-top: 1px solid #d3d3d3;
}

.bilderShareYourWonders{
  display: flex; 
  flex-direction: right;
  height: 40px; 
  padding: 20px;
  margin-right: 34%; 
  margin-left: 34%; 
}

.bilderShareYourWonders img{
  height: 30px;
}

.bilderShareYourWonders p {
  font-weight: bold; 
  margin-top: 10px;
}



